.DS_Store
.nvimlog
temp/
*.log
*.synctex.gz
papers/Reinforcement Learing - Sutton & Barto.pdf
*.auxlock
*.blg
*.aux
*.pdf
vault/readings/
.obsidian
.csvescrito/Literate/
escrito/Literate
*.acr
*.bcf
*.fdb_latexmk
*.fls
*.out
